<template>
  <div>
    <layout/>
    codeList
  </div>
</template>

<script>
import layout from '@/views/layout/Layout'

export default {
  name: 'CodeList',
  components: { layout },
  data () {
    return {}
  }
}
</script>
